@import '../splash.scss';

.main-feed {
    height: max-content;
    background-color: rgb(253, 234, 170);
    width: 100%;
    display: flex;
}

.aside-right, .aside-left {
    width: 300px;
    background-color: green;
}

.post-index {
    width: 80%;
    height: max-content;
    background-color: rgb(253, 255, 228);
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
}

.post-index-item {
    width: 80%;
    padding: 30px;
    height: max-content;
    box-sizing: border-box;
    background-color: rgb(255, 218, 97);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

