@import '../splash.scss';

.main-feed {
    height: max-content;
    background-color: linear-gradient(#eccb0d, #fdaa2d);
    width: 100%;
    display: flex;
    padding-top: 50px;
}

.aside-left {
    width: 50%;
    background-color: transparent;
}

.aside-right {
    width: 40%;
    background-color: transparent;
}

.post-index {
    width: 50%;
    background-color: rgb(253, 255, 228);
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-radius: 4px;

    ul{
        width: 100%;
    }
}

.post-index-item {
    width: 500px;
    padding: 30px;
    height: max-content;
    box-sizing: border-box;
    background-color: #cfffeb;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.pi-container {
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(150, 150, 150);
    background-color: rgb(253, 255, 228);
    margin-bottom: 50px;
}