.profile-page-container{
    height: 100%;
    position: absolute;
    width: 100%;
}

.profile-info-container{
    // width: 100%;
    // padding-top: 50px;
    display: flex;
    justify-content: space-between;
    // border: 1px solid black;
}