.search-result-container{
    // display: flex;
    // justify-content: center;
    // border: 1px solid white;
    padding: 20px 0 0 50px;
    width: 800px;
    min-height: 700px;
    position: relative;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
}

.search-result-info{
    margin-top: 30px;
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 600px;
    padding-left: 20px;
    margin-bottom: 100px;
}

.user-profile-picture{
    // position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 100px;
}
.user-avatar{
    width: 150px;
}

.user-page-link{
    > a{
        color: black;
        font-size: 40px;
    }
}


.no-search-result{
    margin-top: 10%;
    color: black;
        font-size: 20px;
}

